<div class="container-menu-nav">
    <ul>
        <li>
            <a href="https://github.com/felpsnaitor?tab=repositories">
                <img 
                src="https://cdn.icon-icons.com/icons2/2368/PNG/512/github_logo_icon_143772.png" 
                alt="Icone do Github">
            </a>
            <span>Github</span>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/felipe-maia-73070bab/">
                <img 
                src="https://cdn-icons-png.flaticon.com/512/61/61109.png" 
                alt="Icone do Linkedin">
            </a>
            <span>Linkedin</span>
        </li>
        <li>
            <a href="https://www.instagram.com/felpsmaia/">
                <img 
                src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png" 
                alt="Icone do Instagram">
            </a>
            <span>Instagram</span>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCkJFiPNhezqJ7GXCfH_CHsg">
                <img 
                src="https://w7.pngwing.com/pngs/8/773/png-transparent-youtube-logo-computer-icons-youtube-black-play-button-angle-monochrome-copyright-thumbnail.png" 
                alt="Icone do Yutube">
            </a>
            <span>Youtube</span>
        </li>
    </ul>
</div>