<div class="container-big-card">
    <!-- LINK BIG CARD -->
    <a id="link-big-card"  [routerLink]="['content', id]">
        <div class="img-big-card">
            <img 
            id="img-big-card" 
            src="{{imgBigCard}}" 
            alt="imagem referente ao artigo grande">
            <p id="data-big-card" >{{dataBigCard}}</p>
        </div>
        <div class="title">
            <h3 id="titulo-big-card" >{{titleBigCard}}</h3>
        </div>
        <div class="description">
            <p id="artigo-big-card" >{{descriptionBigCard}}</p>
        </div>

    </a>
</div>

