<div class="container-small-card">
    <!-- LINK SMALL CARD -->
    <a id="link-small-card"  [routerLink]="['content',id]">
        <div class="img"> 
            <img 
            id="img-small-card" 
            src="{{imgSmallCard}}" 
            alt="imagem referente ao artigo grande">
        </div>
    
        <div class="description">
            <p id="data-small-card">{{dataSmallCard}}</p>
            <h3 id="artigo-small-card">{{descriptionSmallCard}}</h3>
        </div>

        
    </a>


    <div class="separador">
        <hr>
    </div>
</div>

