<div class="container-small-card">
    <!-- LINK SMALL CARD -->
    <a id="link-small-card"  href="#">
        <div class="img"> 
            <img 
            id="img-small-card" 
            src="https://as2.ftcdn.net/v2/jpg/04/70/29/87/1000_F_470298738_1eHqTZ0B5AvB3emaESPpvQ93227y7P0l.jpg" 
            alt="imagem referente ao artigo grande">
        </div>
    
        <div class="description">
            <p id="data-small-card">18/12/2023</p>
            <h3 id="artigo-small-card">pequen a  descrição do Artigo Pequeno</h3>
        </div>

        
    </a>


    <div class="separador">
        <hr>
    </div>
</div>

