<div class="container-content">
    <div class="img-content">
        <img src={{imgContent}} alt="Imagem do conteudo">
    </div>
    <div class="container-description">
        <a href=""> <img src="https://cdn-icons-png.flaticon.com/512/93/93634.png" alt="Botão voltar"></a>
        <div class="title-content">
            <h1>
               {{titleContent}}
            </h1>

            <span>{{dataContent}}</span>
        </div>
        
        <div class="description-content">
            {{descriptionContent}}
        </div>
    </div>
</div>