<app-menu-nav></app-menu-nav>
<app-menu-title></app-menu-title>
<div class="artigos">
    <div class="artigo-principal">
        <app-big-card 
        imgBigCard="https://scontent.fssa12-2.fna.fbcdn.net/v/t31.18172-8/10847316_740499286070812_833606034356397084_o.jpg?_nc_cat=101&ccb=1-7&_nc_sid=7f8c78&_nc_eui2=AeEPpw_JcE1NHcOJy4cX01Euge7ZiuRcgtaB7tmK5FyC1t7GqRpOUKavchkyIPUsG-k&_nc_ohc=rDim4mYcftUAX9mQvIj&_nc_ht=scontent.fssa12-2.fna&oh=00_AfC95O155iLd8FyG8W1f_3UNwrt1mOCV7S2m4SDl6Kcu4A&oe=65A9DA52"
        titleBigCard="Diana e Felipe se Casaram em 2014"
        dataBigCard="23/03/2015"
        descriptionBigCard="Diana e Felipe Se casaram em 2014 mas só houve fotos do casamento em 2015, o atraso pode ser considerado normal entre os profissionais, mas o casal teve ansiedade por conta da felidade de estar um do lado do outro"
        ></app-big-card>
    </div>
    
    <div class="artigo-pequeno">
        <app-small-card
        imgSmallCard="https://scontent.fssa12-1.fna.fbcdn.net/v/t1.18169-9/945935_390397161081028_1063161131_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=4dc865&_nc_eui2=AeHyPnGAzSB6i6sxwhBSU0z69uvirlOEWEf26-KuU4RYRzeTQ2m6Nr9prq51y_CbtOw&_nc_ohc=fFUmYoxpU20AX-dVbep&_nc_ht=scontent.fssa12-1.fna&oh=00_AfDld4gvUzNBCZvydF08SAHuP5MyaWWR9vHsBlLeOzV2tQ&oe=65A9BD7E"
        dataSmallCard="07/01/2013"
        descriptionSmallCard="Diana no em 2013 faz coraçãozinho e diz que ta na modinha"
        ></app-small-card>
        <app-small-card
        imgSmallCard="https://scontent.fssa12-2.fna.fbcdn.net/v/t1.18169-9/398717_235781256502556_2060123838_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=4dc865&_nc_eui2=AeElfxsQoDMIMz4vuraltMfsDR45j8jbmpwNHjmPyNuanAl7yjdcb2O1wude5ymMdAM&_nc_ohc=KxDeYGuQXw4AX9IqsiG&_nc_ht=scontent.fssa12-2.fna&oh=00_AfCMOH3jkwhRNlPqFYMhcZHb3aBSAXPmSG5pap05Da1FKQ&oe=65A9DEA8"
        dataSmallCard="23/01/2012"
        descriptionSmallCard="Tamires tem hoje em 2023 o mesmo rosto que em 2012"
        ></app-small-card>
        <app-small-card
        imgSmallCard="https://scontent.fssa12-2.fna.fbcdn.net/v/t1.18169-9/733887_353456131441798_797002579_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=4dc865&_nc_eui2=AeEu7U07JAfANSz_sUvajR424bQ6iRJoxxrhtDqJEmjHGi-BodNsTVIAlqvXS76UscQ&_nc_ohc=ecnxVbJx_yAAX_Y9JbE&_nc_ht=scontent.fssa12-2.fna&oh=00_AfBN-ILAHYVxwMjXHhAlM6NclSbBmk7_5aZ-U7L1z6a1_g&oe=65A9C462"
        dataSmallCard="26/03/2013"
        descriptionSmallCard="Diana Explode de Felicidade apos sair com seu Moreno Marrento!"
        ></app-small-card>
    </div>

</div>
